body {
  .header {
    &--primary {
      transition: all .3s;
      @media only screen and (max-width: 992px) {
        padding: 15px 0;
      }
    }
    &__section--secondary {
      .wrapper--navigation {
        &__content {
          display: flex;
          align-items: center;
          column-gap: 10px;
          @media only screen and (max-width: 992px) {
            max-width: 26rem;
          }
          a.button-cta {
            margin: 0;
            text-decoration: none;
            border: 2px solid var(--color--blue-primary);
            transition: all .3s;

            &:hover {
              color: var(--color--blue-primary);
              background: var(--color--blue-light-hover);
            }
          }
        }
      }
    }
    .menu--main {
      ul {
        &.menu {
          list-style: none;
          padding: 0;
          margin: 0;
          a {
            color: var(--color--blue-primary);
            text-decoration: none;
            @media only screen and (max-width: 1400px) {
              padding: 9px;
            }
            @media only screen and (max-width: 1200px) {
              font-size: 15px;
            }

            &.webform-dialog {
              color: var(--color--white);
              &:hover {
                color: var(--color--blue-primary);
              }
            }
          }
          .sub-menu {
            list-style: none;
            margin: 0;
            align-items: start;
            background-color: var(--color--white);
            display: flex;
            flex-direction: column;
            padding: .5rem;
            position: absolute;
            width: auto;
            transition: all .3s;
            opacity: 0;
            visibility: hidden;
            top: calc(100% + 10px);
            li {
              a {
                font-size: .875rem;
                margin-left: 10px;
                min-width: 110px;
                white-space: nowrap;
              }
            }
          }
          & > li {
            position: relative;
            &:hover {
              .sub-menu {
                z-index: 999999;
                visibility: visible;
                opacity: 1;
                top: 100%;
              }
            }
          }
        }
      }
    }
    &__section--primary {
      align-items: center;
      display: flex;
      gap: 15px;
      .logo {
        display: block;
        max-width: 152px;
        @media only screen and (max-width: 1200px) {
          max-width: 130px;
        }
        img {
          width: 100%;
          height: auto;
        }
      }
      .block-language-dropdown-blocklanguage-interface {
        .form-select {

        }
      }
    }
  }
  .wrapper--page-top {
    &.is--sticky {
      .header--primary {
        padding: 15px 0;
      }
    }
  }
}
